body {
    background-color: blanchedalmond;
}
.proyecto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#proyecto-1{
    background-image: url(assets/Mosaico\ 2.jpg);
}