#Presentación{
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url(assets/Fondo2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.proyecto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#proyecto-1{
    background-image: url(assets/clong.png);
}
#proyecto-2{
    background-image: url(assets/Pers.jpg);
}
#proyecto-3{
    background-image: url(assets/Maqueta.JPG);
}